<div class="modal fade" id="employee-details" tabindex="-1" role="dialog" aria-labelledby="employeeDetailsModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" id="employee-results">
      {{!-- Render Content Here --}}
    </div>
  </div>
</div>